<!-- Range slider code -->
<script src="static/js/slider.js"></script>

<!-- Range slider style -->
<link href="static/js/slider.css" rel="stylesheet">
<h5>Date range</h5>
<div id="range-label"></div>
<div id="container"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-2 bg-dark">
            <body>
                <div id="select-options"></div>
                <button type="submit">Sumbit</button><br>
                <script type="text/javascript" src="static/js/cielab.js"></script>
                <script type="text/javascript" src="static/js/volume.js"></script>
                <script type="text/javascript" src="static/js/graph.js"></script>
        </nav>
        <main role="main" class="col-10">
            <div class="row mt-4">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="cielab-view">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="barchart-view" class="barchart-view" style="width: 700px; height: 540px; overflow-y: scroll"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="volume-view"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div id="graph-view"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div id="tooltip"></div>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div id="help-tooltip"></div>
<script type="text/javascript" src="static/js/cielab.js"></script>
<script type="text/javascript" src="static/js/barchart.js"></script>
<script type="text/javascript" src="static/js/volume.js"></script>
<script type="text/javascript" src="static/js/graph.js"></script>
<script type="text/javascript" src="static/js/helpTooltip.js"></script>
<script type="text/javascript" src="static/js/dashboard.js"></script>
<template id="select-template" type="text/x-handlebars-template">
    <label style="color: aliceblue;">Century:</label>
    <select id='century' , name='century' , onchange="submitSelected()">
        <option value="">All</option>
        {{#each centuries}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br /><br>
    <label style="color: aliceblue;">Country:</label>
    <select id='country' , name="country" , onchange="submitSelected()">
        <option value="">All</option>
        {{#each countries}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br /><br />

    <label style="color: aliceblue;">Artwork Type:</label>
    <select id='artwork_type' , name="artwork_type" , onchange="submitSelected()">
        <option value="">All</option>
        {{#each artwork_types}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br /><br />

    <label style="color: aliceblue;">School:</label>
    <select id='school' , name="school" , onchange="submitSelected()">
        <option value="">All</option>
        {{#each schools}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br /><br />

    <label style="color: aliceblue;">General Type:</label>
    <select id='general_type' , name="general_type" , onchange="submitSelected()">
        <option value="">All</option>
        {{#each general_types}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
</template>